/* Default page-wide styles */

html { 
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0; 
}

body {
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #1B191A;
    position: relative;
    display: flex;
    flex-direction: column;
}
body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./assets/restaurant-background.jpg) no-repeat center 80% / cover;
    z-index: -1;
    opacity: 0.4; 
}

/* Nav menu styles */

nav button {
    padding-top: 1.5rem;
    margin: 0 0.5rem;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.4em;
    color: #fff;
    letter-spacing: 0.15em;
    cursor: pointer; 
    border-bottom: 2px solid transparent;
}

nav button:hover {
    border-bottom: 2px solid #CCAB5B;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Applies animation fade-in to any children under #content */

#content > * {
    height: 90%;
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;} 
}
/* Styles for the logo (with small variant) */

#logo {
    display: grid;
    grid-template-rows: 36% min-content;
    grid-auto-rows: 1fr;
    justify-items: center;
    position: relative;
    font-size: 10rem;
    padding-top: 0.4em;

    &:has(.small) {
        padding-top: 0.2em;
    }

    & > h2 {
        font-family: 'Sacramento', cursive;
        font-weight: 400;
        color: #CCAB5B;
        line-height: .6em;
        font-size: 1em;
        &.small {
            font-size: .5em;
        }
    }
    & > h1 {
        border-bottom: 4px solid #CCAB5B;
        padding: 10px 0;
        font-size: .5em;
        &.small {
            font-size: .25em;
            /* border-bottom: none; */
        }
    }
    & > p {
        margin-top: 20px;
        font-weight: 400;
        font-size: .16em;
        &.small {
            font-size: .32em;
        }
    }
}

/* Menu styles */

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    text-align: left;
    max-width: 600px;
    & > h1 {
        color: #CCAB5B;
        padding: .50em 0;
        font-size: 1.75rem;
    }

    & > h2 {
        color: #CCAB5B;
        padding-bottom: .50em;
    }

    & > p {
        line-height: 150%;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
    }
}

.breakline {
    max-width: 600px;
    border: 1px solid #CCAB5B;
    margin: 12px auto;
}

/* About Us styles */

#bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    text-align: left;
    text-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    & > p {
        line-height: 125%;
        font-weight: 500;
        padding-bottom: 1em;
    }

    & > ul {
        list-style-position: inside;
        font-weight: 500;
        line-height: 150%;
    }

    & > ul ::marker {
        color: #CCAB5B;
    }
}

a {
    color: white;
}

/* Totally unnecesary rainbow animation */

.rainbow-text {
    font-size: 1.2em;    
    background-image: linear-gradient(to right, #F60000, #FF8C00, #FFEE00, #4DE94C, #3783FF,#a515aa);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text; /* Vendor prefix for compatibility */
    color: transparent;
    animation: rainbow-animation 3s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 200% center; /* Move the background across the text */
  }
}

/* Contact page styles */

#contact-container {
    display: flex;
    /* flex-direction: column; */
    font-size: 1em;
    margin-top: 2em;


    & > * {
        margin: 40px;
    }
}
.contact {
    text-align: left;
    font-weight: 500;
    font-size: 1.3rem;

    & > h1 {
        letter-spacing: .05em;    
        margin-bottom: .5em;
    }

    & > button {
        margin-top: .5em;
        font-family: inherit;
        padding: 0.5rem 1rem;
        letter-spacing: 0.15rem;
        background: none;
        border: 2px solid #CCAB5B;
        font-size: 1rem;
        cursor: pointer;
        color: #CCAB5B
    }

    & > button:hover{
        background-color: #CCAB5B;
        color: black;
    }
}

