/* Default page-wide styles */

html { 
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; 
}

body {
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #1B191A;
    position: relative;
    display: flex;
    flex-direction: column;
}
body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./assets/restaurant-background.jpg) no-repeat center 80% / cover;
    z-index: -1;
    opacity: 0.4; 
}

/* Nav menu styles */

nav button {
    padding-top: 1.5rem;
    margin: 0 0.5rem;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.4em;
    color: #fff;
    letter-spacing: 0.15em;
    cursor: pointer; 
    border-bottom: 2px solid transparent;
}

nav button:hover {
    border-bottom: 2px solid #CCAB5B;
}

/* Applies animation fade-in to any children under #content */

#content > * {
    height:90%;
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;} 
}

/* Styles for the logo (with small variant) */

#logo {
    display: grid;
    grid-template-rows: 36% min-content 13% 1fr;
    justify-items: center;
    position: relative;
    top: 5rem;
    font-size: 10rem;

    &:has(.small) {
        top: 2rem;
    }

    & > h2 {
        font-family: 'Sacramento', cursive;
        font-weight: 400;
        color: #CCAB5B;
        line-height: .6em;
        font-size: 1em;
        &.small {
            font-size: .5em;
        }
    }
    & > h1 {
        border-bottom: 4px solid #CCAB5B;
        padding: 10px 0;
        font-size: .5em;
        &.small {
            font-size: .25em;
            border-bottom: none;
        }
    }
    & > p {
        margin-top: 20px;
        font-weight: 400;
        font-size: .16em;
    }
}


/* Menu styles */
